body {
  background-color: #c8e2e6;
}

div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.background {
  position: absolute;
  margin-top: 130px;
  max-height: 600px;
  max-width: 70%;
  opacity: 0.5;
  z-index: 1;
}

#information {
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
  text-shadow: 0 0 2px blue, 0 0 4px #0000FF;
  width: 80%;
  z-index: 2;
}

.countries {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 390px;
  position: absolute;
  width: 50%;
  z-index: 2
}

.country {
  width: 20%;
}